* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-family: Raleway, sans-serif;
    --blue : #0065FC;
    --light-blue : #DEEBFF;
    --grey : #F2F2F2;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 200;
}

p {
    font-size: 16px;
}

/*** HEADER ***/

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo {
    height: 80px;

}

nav {
    position: relative;
    top: 20px;
    font-size: 20px;
}


li {
    display: inline-block;

}

li > a {
    text-decoration: none;
    padding: 15px;
    color: inherit;
}

li > a:hover {
    color: var(--blue);
    border-top: 1px solid var(--blue);
}

/*** FILTERS ***/

#search-and-filter {
    padding: 10px 25px;
}

.search-bar {
    display: flex;
}

.fa-map-marker-alt {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 10px 0 0 10px;
    font-size: 12px;
    width: 30px;
    text-align: center;
    padding-top: 8px;  
}

.search-button {
    background-color: var(--blue);
    border: 0;
    border-radius: 0 10px 10px 0;
    color: white;
    height: 32px;
    padding: 0 10px;
}

.search-input {
    border: 1px solid var(--grey);
    height: 32px;
    padding-left: 10px;
    outline: none;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content:flex-start
}

#filters > h2 {
    padding-top: 7px;
    margin-right: 10px;
}

.filter-type {
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    display: flex;
    height: 42px;
    align-items: center;
    padding-right: 12px;
    margin-right:  20px;
}

.fa-stack {
    margin-left: -8px;
}

.fa-stack > h3 {
    padding-left: 55px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: var(--blue);
}

.fa-circle {
    color: var(--light-blue);
}

.information {
    display: flex;
}

.i {
    border: 1px solid black;
    color: var(--blue);
    border-radius: 50px;
    width: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman';
    margin-right: 10px;
}

/*** HEBERGEMENTS ***/

main {
    display: flex;
}

#hebergements {
    padding: 10px 25px;
    background-color: var(--grey);
    border-radius: 20px;
    margin: 0 10px;
}

.hebergements-list {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.full {
    color: var(--blue);
}

.empty {
    color: var(--light-blue);
}

/*** LES PLUS POPULAIRES ***/

#les-plus-populaires {
    padding: 10px 25px;
    background-color: var(--grey);
    border-radius: 20px;
}

.les-plus-populaires-list {
    display: flex;
}

/*** ACTIVITES ***/

#activites {
    padding: 10px 25px;
}

.activites-list {
    display: flex;
}

/*** FOOTER ***/

footer {
    padding: 10px 0;
}
